node_modules
.env
keys/private-key.pem
keys/public-key.pem

logs/January_2023
logs/February_2023
logs/March_2023
logs/April_2023
logs/May_2023
logs/June_2023
logs/July_2023
logs/August_2023
logs/September_2023
logs/October_2023
logs/November_2023
logs/December_2023

logs/January_2024
logs/February_2024
logs/March_2024
logs/April_2024
logs/May_2024
logs/June_2024
logs/July_2024
logs/August_2024
logs/September_2024
logs/October_2024
logs/November_2024
logs/December_2024
